.logo-icon{
    width: 50px;
    position: relative;
    margin-bottom: 0%;
}
body{
  background-image: linear-gradient(#8d87f5,#e487f6);
  background-attachment: fixed
}
h3 {
  color: antiquewhite;
  font-style: oblique;
  text-align: center;
  margin-top: auto;
}
.header{
    padding: 20px;
}

.title{
    padding-left: 15%;
    padding-top: 0;
    height: 50px;
}
.logo{
    padding-right:20%;
    padding-top: 0;
    margin-right: 0px;
    width : 350px;
    height: 400px;
    float: right;
}
button:hover{
    border: none;
}
footer{
    background-color:rebeccapurple;
    text-align: center;
    margin-top: 25%;
    position: fixed;
    width: 100%;
    color: gray;
    left: 0;
    bottom: 0;

}
a{
    text-decoration: none;
    color: gray;
}
.start{
    background-color: rebeccapurple;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: serif;
    margin-top: 23%;
    margin-left: 30%;
    color: white;
}
.headerbutton {
    border-color: black;
    border-bottom: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    background-color: #ae87f6;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

  }

  button{
    cursor: pointer;
  }
